<div class="form-container">
        <form #hobbyDetailsForm="ngForm" (ngSubmit)="onSubmit(hobbyDetailsForm)">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input type="text" name="title" [ngModel]="hobby.title" required class="input">
                </div>
            </div>
            <div class="field">
                <label class="label">Indoor or Outdoor</label>
                <div class="control">
                    <input type="text" name="indoorOutdoor" [ngModel]="hobby.indoorOutdoor" class="input">
                </div>
            </div>
            <div class="field is-grouped is-pulled-right">
                <div class="control">
                    <button class="button cancel-button is-text" type="button" (click)="cancel()">Cancel</button>
                </div>
                <div class="control">
                        <button class="button is-primary" type="submit" [disabled]="!hobbyDetailsForm.valid">Save</button>
                    </div>
            </div>
        </form>
    </div>