<div class="form-container">
    <form #movieDetailsForm="ngForm" (ngSubmit)="onSubmit(movieDetailsForm)">
        <div class="flex-style">
            <div class="field">
                <label class="label">Title</label>
                <div class="control">
                    <input type="text" name="title" [ngModel]="movie.title" required class="input small-field">
                </div>
            </div>
            <div class="field">
                <label class="label">Director</label>
                <div class="control">
                    <input type="text" name="director" [ngModel]="movie.director" class="input small-field">
                </div>
            </div>
        </div>
        <div class="flex-style">
            <div class="field">
                <label class="label">Length</label>
                <div class="control">
                    <input type="text" name="length" [ngModel]="movie.length" class="input small-field">
                </div>
            </div>
            <div class="field">
                <label class="label">My Rating</label>
                <div class="control">
                    <input type="text" name="myRating" [ngModel]="movie.myRating" class="input small-field">
                </div>
            </div>
        </div>
        <div class="field">
            <label class="label">Description</label>
            <div class="control">
                <textarea class="textarea" name="description" [ngModel]="movie.description"></textarea>
            </div>
        </div>
        <div class="field is-grouped is-pulled-right">
            <div class="control">
                <button class="button cancel-button is-text" type="button" (click)="cancel()">Cancel</button>
            </div>
            <div class="control">
                    <button class="button is-primary" type="submit"  [disabled]="!movieDetailsForm.valid">Save</button>
                </div>
        </div>
    </form>
</div>